/* Variables */

:root {
  --basic-black: #000000;
  --basic-extra-dark: #242424;
  --basic-dark: #aba9a7;
  --basic-neutral: #e5e5e5;
  --basic-extra-light: #f8f5f2;
  --basic-white: #ffffff;

  --special: #663d15;
}

/* Global */

.page-body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-black);
  background-image: url("img/bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Main header */

.main-header {
  margin-bottom: 70px;
}


/* Main navigation */

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-white);
  background-color: transparent;
}

.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 60px;
  background-color: var(--basic-black);
}

/* Logo */

.main-header-logo {
  order: 2;
  width: 368px;
  height: 153px;
}

/* Container */

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
}

/* Site Navigation */

.site-navigation {
  width: 620px;
  margin: 0;
  padding: 0;
  min-height: 70px;
  list-style: none;
}

.site-navigation-current a:not([href]) {
  background-color: var(--basic-black);
}

/* User navigation */

.user-navigation {
  max-width: 140px;
}

.site-navigation a,
.user-navigation a {
  color: var(--basic-white);
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: var(--basic-extra-dark);
}

/* Login link */
.user-navigation .login-link {
  padding-left: 50px;
}

/* Features */

.features {
  margin-bottom: 80px;
}


.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;

}

.feature-item {
  text-align: center;
}

.feature-item h3 {
  font-size: 30px;
  line-height: 42px;
}

.feature-item p {
  margin: 0 10px;
}


/* Index columns */

.index-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
  color: var(--basic-black);
  background-color: var(--basic-extra-light);
  background-image: url("img/pattern-light.jpg");
  background-position: center, 0 0;
  background-repeat: no-repeat, repeat;
}

.index-columns h2 {
  margin: 0;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 42px;
}

/* News */

.news {
  width: 380px;
}

.news-list {
  list-style: none;
}

.news-item {
  margin-bottom: 25px;
}

.news-item p {
  margin: 0;
}

/* Button */

.button {
  display: inline-block;
  margin-right: 16px;
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-black);
  border: none;
}

.button:hover,
.button:focus,
.button:active {
  background-color: var(--special);
}

.button.disabled,
.button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: var(--basic-black);
}

/* Gallery */

.gallery {
  width: 300px;
}

.gallery-container {
  height: 260px;
}

.gallery-content {
  height: 164px;
  margin: 0;
  background-color: var(--basic-dark);
  border: 7px solid var(--basic-white);
}

.gallery-content img {
  width: 286px;
  height: 164px;
}

/* Contacts */

.contacts {
  width: 380px;
}

.contacts p {
  margin: 0;
  margin-bottom: 25px;
}

/* Appointment */

.appointment {
  width: 300px;
}

.appointment-info {
  margin: 0;
  margin-bottom: 15px;
}

.appointment-item {
  margin-top: 0;
  margin-bottom: 10px;
}

.appointment-item input {
  width: 140px;
  font: inherit;
  background-color: transparent;
  border: 2px solid var(--basic-black);
}

.appointment-item input:focus {
  border-color: var(--special);
}

.appointment .button {
  margin-top: 10px;
  margin-right: 0;
}


/* Main footer */

.main-footer {
  padding: 60px 0;
  margin-top: 65px;
  color: var(--basic-white);
  background-color: var(--basic-extra-dark);
  background-image: url("img/pattern-dark.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.main-footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-contacts {
  margin: 0;
}

.footer-contacts p {
  margin: 0;
}

.footer-contacts a {
  color: var(--basic-white);
  text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}

.footer-social {
  width: 145px;
  justify-self: center;
  text-align: center;
}

.footer-social ul {
  width: 141px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.footer-social h2 {
  font-size: 14px;
}

.footer-copyright {
  max-width: 150px;
  margin: 0;
  justify-self: end;
  text-align: center;
}

.footer-copyright .button {
  display: block;
  margin-right: 0;
}

.footer-copyright b {
  display: block;
  margin-bottom: 15px;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
  color: var(--basic-black);
  background-color: var(--basic-white);
}


/* Social button */

.social-button {
  color: inherit;
}

.social-button:hover,
.social-button:focus {
  background-color: var(--basic-white);
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

/* Modal */

.modal {
  color: var(--basic-black);
  background-color: var(--basic-extra-light);
  background-image: url("img/pattern-light.jpg");
  background-position: 0 0;
  background-repeat: repeat;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-login h2 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 42px;
}

.modal-description {
  margin: 0;
  margin-bottom: 10px;
}

/* Login form */

.login-form p {
  margin: 0;
  margin-bottom: 10px;
}

.login-form input[type="email"],
.login-form input[type="password"] {
  font: inherit;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-extra-light);
  border: 2px solid var(--basic-black);
}

.login-form input:focus {
  border-color: var(--special);
}

.login-form .login-help {
  margin: 15px 0;
}

.login-icon-user {
  background-image: url("img/user.svg");
  background-position: 270px center;
  background-repeat: no-repeat;
}

.login-icon-password {
  background-image: url("img/lock.svg");
  background-position: 270px center;
  background-repeat: no-repeat;
}


/* Restore */

.restore {
  color: var(--basic-black);
  text-decoration: underline;
}

.restore:hover,
.restore:focus {
  text-decoration: none;
}
